body {
  margin: 0;
  text-align: right!important ;
  background-color: #f8f8f5;
  font-family: 'FSAlbertArabic' !important;

}



@font-face {
  font-family: "FSAlbertArabic";
  src: url("./assets/FSAlbertArabic/FSAlbertArabic-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./assets/FSAlbertArabic/FSAlbertArabic-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/FSAlbertArabic/FSAlbertArabic-Regular.woff2") format("woff2"), url("./assets/FSAlbertArabic/FSAlbertArabic-Regular.woff") format("woff"), url("./assets/FSAlbertArabic/FSAlbertArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

 

